<!DOCTYPE html>
<html lang="en">
<>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .name{   
            border: 1px solid red;
            background-color: aquamarine;
            width: auto;
            height: auto;



        }
    </style>
</head>
<body>
    <div class="name">
        <h1>this is my box{{ name }}</h1>
    </div>

    <h1>welcome to {{ name }}</h1>
</body>
</html>